PORT=5000
MONGO_URI=mongodb://tungbt19_db_user:GqFncN1OvetJTlGh@ac-mjcngda-shard-00-00.ub3nhen.mongodb.net:27017,ac-mjcngda-shard-00-01.ub3nhen.mongodb.net:27017,ac-mjcngda-shard-00-02.ub3nhen.mongodb.net:27017/pms-app?ssl=true&replicaSet=atlas-yuw3d8-shard-0&authSource=admin&appName=pms-cluster
CLIENT_URL=https://your-frontend.vercel.app
NODE_ENV=production
